<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="EncryptKey" value="pay"/>
  <!--SSO-->
  <add key="SSO_URL" value="http://sandbox.uwingame.vn/accounts/" />
  <add key="SSO_RETURN_URL" value="http://localhost:55933/index.html"/>
  <add key="SSO_SERVER_URL" value="http://sandbox.uwingame.vn/"/>
  <add key="GO_SSO_SERVER_URL" value="https://id.uwin.vn/" />
  <add key="SSO_CONTINUE_URL" value="http://localhost:55933/Authen.aspx"/>
  <add key="SSO_LOGOUT_URL" value="http://sandbox.uwingame.vn/accounts/sso/logout"/>
  <add key="SSO_SERVICE_ID" value="100000" />
  <add key="SSO_SECRET_KEY" value="123456" />
  <add key="SSO_TIMEOUT" value="600"/>

  <add key="DEFAULT_BETVALUE" value="100"/>
  <add key="DEFAULT_BETTYPE" value="1"/>
  <add key="DEFAULT_ROOMID" value="1"/>
  <add key="GAMEID" value="1"/>
  <add key="SOURCEID" value="0"/>
  <add key="MERCHANTID" value="0"/>
  <add key="TOTAL_LINE" value="20"/>

  <add key="SECONDS_REQUESTSPIN" value="0"/>

  <add key="LOCATION" value="123,234,345,456,567,678,789,890,901,1012,1123,1234,1345,1456,1567,1678" />


  <add key="GenerateKey" value="100000" />

  <!--Config BetValue-->
  <add key="EnableListStar" value="100,1000,5000,10000" />
  <add key="EnableMaxStar" value="10000" />

  <!--Url Root-->
  <add key="UrlRoot" value="http://localhost:55933/"/>
  <!--Hubs Url-->
  <add key="GAME_HUB_URL" value="http://localhost:55933/"/>
  <!--Chat Hubs Url-->
  <add key="CHAT_HUB_URL" value="http://sandbox.uwingame.vn/chatslotmachine"/>
  <!--Enviroment-->
  <add key="IsTestEnviroment" value="true" />

  <!--DataTestFile="" la chay that. -->
  <!--<add key="DataTestFile" value=""/>-->
  <add key="DataTestFile" value="~/App_Data/data_test.txt" />
  <!-- Danh sach cac tai khoan co the chay data-test -->
  <add key="AccountTestFile" value="~/App_Data/account_test.txt" />

  <add key="ORIGIN" value="*"/>
  <add key="ALLOW_ORIGIN" value="http://phatloc.uwingame.vn/"/>



  <!--Config Số giây đếm số request không hợp lệ-->
  <add key="TimmerFailRq" value="10"/>
  <!--Config số request không hợp lệ trong số giây ở trên-->
  <add key="TotalFailRq" value="3"/>
  
  <!--Dong Bang So Du-->
  <add key="FREEZE_STAR_VALUE" value="5000"/>
  <add key="SSO_ACCESS_TOKEN" value="636003678554522097.23390f36acb99c96505fb5a178eb8f5b"/>

</appSettings>