<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="DefaultChance" value="1" />
    <add key="PortalURL" value="https://services.duongdan.xyz/"/>
  </appSettings>
  <connectionStrings>
    <add name="LuckySpin" connectionString="gVCJ09qmvt8ZTN0y0IrSzJeXUmThspk5DKk9LJGCVk0G2EEkT99AWYJ4yiSxjrMUum3ZMAebaxH/lOwDBAB3z00vOnyrX5OvKlkdSgHmKzEpVriRM0/mtkvUY/1c7WXf4ZuG5YDlxmd59eToqygJOQ==" />
    <add name="GamePortal" connectionString="M4dPAaKiuo99mg2ROWoUF9KR1W/Thp541RH5blouo227dZYPrphPtrGVcELUEK2wlvKaX9doUWPtZkSZ/EP04jq9l3BFonpZuCTh60n5BX4pqkQWlCskhxrjI38ohzxkRqJmXP5LWFtda/sZiLP7Ikb15qKzaDyJU/9zu35SsZo=" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <machineKey validationKey="B4069A900A5F2659D9240A2F06A1D8E993AA6B28CA5C38D1276F4A87F3AD24FEBE087DA0012F09D8E94BCC8B7C1936A70ECE1808CC23CF0C54A34537844229C5" decryptionKey="03B473431505F0785B0E188022D3DBF7D283917724FB70F9BCD103CA81ADB201" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms name=".uwin" protection="All" timeout="1000" cookieless="UseCookies" />
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="captchaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8083/captcha.asmx" binding="basicHttpBinding"
        bindingConfiguration="captchaSoap" contract="PortalCaptcha.captchaSoap"
        name="captchaSoap" />
    </client>
  </system.serviceModel>
</configuration>
